In [1]:
import os
import numpy as np
import pandas as pd

from parsers.time_step_surface_parser import TimeStepSurfaceParserDistributed
from imaris.imaris import ImarisDataObject

from typing import List

In [2]:
data_path = "../data/multi_surface_track_parser_dev_data/GFP #1 Sec1 Roi2 2x2 1h30min.ims"
os.path.isfile(data_path)

True

In [3]:
parser = TimeStepSurfaceParserDistributed(data_path, surface_id=0)

In [4]:
out = parser.inspect(surface_id=0)

In [5]:
list(out.keys())

['surface_name',
 'stat_names_raw',
 'stat_values_raw',
 'track_id',
 'factor',
 'stat_names_channel_info',
 'stat_names_surface_info',
 'stat_values_filtered',
 'organized_stats',
 'stats_df']

In [23]:
raw = out["stat_values_raw"]
raw

          ID_Time  ID_Object  ID_StatisticsType         Value
0              -1         -1                  5  4.032000e+03
1              -1         -1                  6  1.005690e+05
2              -1         -1                  7  1.005690e+05
3              -1         -1                  8  7.727098e+07
4              -1         -1                  9  2.012542e+07
...           ...        ...                ...           ...
13998063       79     217890              26291  4.607695e+02
13998064       79     217908              26291  1.336841e+03
13998065       79     217938              26291  8.189819e+02
13998066       79     218019              26291  5.936770e+02
13998067       79     218023              26291  2.994599e+03

[13998068 rows x 4 columns]

In [24]:
x = raw[raw["ID_Time"] == 0]
x[x["ID_Object"] == -1]

        ID_Time  ID_Object  ID_StatisticsType   Value
527599        0         -1              24926  1098.0
527600        0         -1              24925  1098.0

In [22]:
y = out["stat_values_filtered"]
y

        ID_Time  ID_Object  ID_StatisticsType        Value
421093        0          0              26071     0.000000
421094        0          2              26071     0.000000
421095        0          3              26071     0.000000
421096        0          4              26071     0.000000
421097        0          6              26071     0.000000
...         ...        ...                ...          ...
569320        0       1435              26291   863.469788
569321        0       1436              26291  1182.071777
569322        0       1437              26291   339.832031
569323        0       1439              26291   227.914978
569324        0       1440              26291  1143.985718

[148230 rows x 4 columns]

In [14]:
len(x)

1099

In [15]:
len(y)

1098

In [16]:
x

array([   0,    2,    3, ..., 1439, 1440,   -1])

In [18]:
y

array([   0,    2,    3, ..., 1437, 1439, 1440])